<div *ngIf="loading else loaded">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>

<ng-template #loaded>
    <div *ngFor="let tournament of tournaments" class="container">
        <div class="card noHover">
            <div class="card-body">
                <img class="tourneyImg" src="\{{ tournament.image | lowercase }}" alt="" />
                <h1>{{ tournament.name }}</h1>
                <p class="card-text">
                    <span *ngIf="tournament.archived == 1">
                        <b>Archived <br /></b>
                    </span>
                    <span *ngIf="tournament.info != null">
                        <b>{{ tournament.info }} <br /><br /></b>
                    </span> Date: {{ tournament.date | date: 'dd/MM/yyyy'}} <br /> Time: {{ tournament.time }} <br />
                    <span *ngIf="tournament.info != null; else noPrize">
                        Prize pool: {{ tournament.prize }} <br />
                    </span>
                    <ng-template #noPrize>Prize Pool: Not announced yet <br></ng-template>
                    <span *ngIf="tournament.signup != null">
                        Signup: {{ tournament.signup }} <br />
                    </span>
                    <span *ngIf="tournament.twitchLink != null">
                        <a href="{{ tournament.twitchLink }}" target="new">Twitch</a> <br />
                    </span>
                </p>
                <p class="card-text" *ngIf="tournament.first != null">
                    <b>Tournament Results:</b> <br> #1 {{tournament.first}} <br> #2 {{tournament.second}} <br> #3 {{tournament.third}} <br>
                </p>
            </div>
        </div>
    </div>
</ng-template>