<div *ngIf="loading else loaded">
    <img src="/assets/svg/BeatKhana Logo RGB animated.svg" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;">
</div>

<ng-template #loaded>
    <div class="container">
        <div class="tab-bar">
            <div [routerLink]="['/tournament', tourneyId]" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="isActive">
                <h3>Info</h3>
            </div>
            <div *ngIf="tournament.show_signups == 1" [routerLink]="['participants']" routerLinkActive="isActive">
                <h3>Participants</h3>
            </div>
            <div *ngIf="user && (tournament.owner == user.discordId || user['roleIds'].includes('1'))" [routerLink]="['allParticipants']" routerLinkActive="isActive">
                <h3>Signed Up</h3>
            </div>
            <div *ngIf="tournament.has_map_pool == 1" [routerLink]="['map-pool']" routerLinkActive="isActive">
                <h3>Map Pool</h3>
            </div>
            <div *ngIf="tournament.show_quals == 1" [routerLink]="['qualifiers']" routerLinkActive="isActive">
                <h3>Qualifiers</h3>
            </div>
            <div *ngIf="tournament.has_bracket == 1" [routerLink]="['bracket']" routerLinkActive="isActive">
                <h3>Bracket</h3>
            </div>
            <div [routerLink]="['staff']" routerLinkActive="isActive">
                <h3>Staff</h3>
            </div>
        </div>
        <div class="card noHover" style="border-radius: 0px 4px 4px 4px;">
            <div class="card-body" #info *ngIf="isInfo">
                <img class="tourneyImg" src="/assets/images/{{tournament.image}}" alt="" />
                <h1>{{ tournament.name }}</h1>

                <p class="card-text" style="color: #c8825a" *ngIf="tournament.archived == 1">
                    <b>Archived <br /></b>
                </p>

                <div class="card-text infoText" *ngIf="tournament.safeInfo != null" [innerHTML]="tournament.safeInfo">
                </div>

                <p class="card-text">
                    *All times are in you local timezone <br> Date: {{ tournament.startDate | date: 'd/MM/yy, h:mm a'}} -> {{ tournament.endDate | date: 'd/MM/yy, h:mm a'}}<br />
                    <span *ngIf="tournament.info != null; else noPrize">
                        Prize pool: <span [innerHTML]="tournament.prize | linkify: linkOptions"></span> <br />
                    </span>
                    <ng-template #noPrize>Prize Pool: Not announced yet <br></ng-template>
                    <a *ngIf="tournament.discord != null" href="{{ tournament.discord }}" target="new">Discord</a>
                    <br />
                    <a *ngIf="tournament.twitchLink != null" href="{{ tournament.twitchLink }}" target="new">Twitch</a>
                    <br />
                </p>
                <p class="card-text" *ngIf="tournament.first != null && tournament.archived == 1">
                    <b>Tournament Results:</b> <br> #1 {{tournament.first}} <br> #2 {{tournament.second}} <br> #3 {{tournament.third}} <br>
                </p>
                <p *ngIf="tournament.public_signups == 1 && user != null && !isParticipant && canSignup" class="card-text">
                    <button mat-stroked-button color="accent" (click)="signUp()">Sign Up!</button>
                </p>
                <p *ngIf="tournament.public_signups == 1 && user != null && isParticipant && canSignup" class="card-text">
                    You have successfully signed up for this tournament!
                </p>
                <p *ngIf="tournament.public_signups == 1 && user == null" class="card-text">
                    Please login to signup for this tournament.
                </p>
                <ng-container *ngIf="isAuth">
                    <p class="card-text">
                        <button mat-stroked-button color="primary" (click)="openEdit()">Edit Tournament</button> &nbsp;
                        <button mat-stroked-button color="primary" (click)="tourneySettings()">Tournament Settings</button> &nbsp;
                        <button mat-stroked-button color="primary" (click)="addPlayer()">Add Player</button> &nbsp;
                        <button *ngIf="user && user['roleIds'].includes('1')" mat-stroked-button color="warn" (click)="delete()">Delete Tournament</button>
                    </p>
                </ng-container>

                <!-- <p *ngIf="user && tournament.owner == user.discordId && !user['roleIds'].includes('1')" class="card-text">
                    
                    
                </p>
                <p >
                    <button mat-stroked-button color="primary" (click)="openEdit()">Edit Tournament</button> &nbsp;
                    <button mat-stroked-button color="primary" (click)="tourneySettings()">Tournament Settings</button> &nbsp;
                    <button mat-stroked-button color="primary" (click)="addPlayer()">Add Player</button> &nbsp;
                    
                </p> -->
            </div>
            <!-- <router-outlet></router-outlet> -->
            <app-participants [tournament]="tournament" [participants]="participants" *ngIf="isParticipants && tournament.public_signups == 1"></app-participants>
            <app-participants [tournament]="tournament" [participants]="participants" [all]="true" *ngIf="isSignedUp && user && (tournament.owner == user.discordId || user['roleIds'].includes('1'))"></app-participants>
            <app-map-pool [tournament]="tournament" *ngIf="isMapPool && tournament.has_map_pool == 1"></app-map-pool>
            <app-bracket [tournament]="tournament" *ngIf="isBracket && tournament.has_bracket == 1"></app-bracket>
            <app-qualifiers [tournament]="tournament" *ngIf="isQuals"></app-qualifiers>
            <app-tournament-staff [tournament]="tournament" *ngIf="staffPage"></app-tournament-staff>
        </div>
    </div>
</ng-template>