<div class="container grid">
    <div *ngIf="loading else loaded">
        <img src="/assets/svg/BeatKhana Logo RGB animated.svg" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;">
    </div>

    <ng-template #loaded>
        <div class="card tournamentCard" *ngFor="let tournament of tournaments">
            <a [title]="tournament.name" [routerLink]="['/tournament',tournament.id]">
                <img src="\{{tournament.image | lowercase}}" class="card-img-top">
                <h5 class="card-title">
                    {{tournament.name}}
                </h5>
            </a>
            <p class="card-text">
                Date: {{tournament.date | date: 'dd/MM/yyyy'}} <br> Prize: {{tournament.prize}} <br>
                <a href="{{tournament.discord}}">Discord</a><br>
                <a href="{{tournament.twitch}}">Twitch</a><br>
                <span *ngIf="tournament.public == 0" style="color:rgb(209, 23, 23);font-style: italic;">*Private</span>
            </p>
            <p *ngIf="user && user['roleIds'].includes('1')" class="card-text">
                <button mat-button color="primary" (click)="archive(tournament.id)">Archive Tournament</button>
            </p>
        </div>

        <div *ngIf="user && user['roleIds'].includes('1')" class="card">
            <a (click)="openDialog()" style="cursor: pointer;">
                <i class="fas fa-plus-circle card-img-top" style="font-size: 200px;border: 2px solid #c8825a; text-align: center;"></i>
                <h5 class="card-title">
                    Add new tournament
                </h5>
            </a>
            <!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->
        </div>
    </ng-template>
</div>