@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:host ::ng-deep .img {
    border-radius: 50%;
}

:host ::ng-deep .blur {
    filter: url("#glow");
    fill: #66fcf1;
}

:host ::ng-deep .matchPath {
    /* fill: #58616d; */
    fill: #111113;
    stroke-width: 3;
    /* stroke: rgb(0, 170, 200); */
    stroke: rgb(200, 130, 90);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}

:host ::ng-deep .matchSplit {
    stroke-width: 1;
    stroke-dashoffset: 0;
    animation: none;
    z-index: 5;
}

:host ::ng-deep .in_progress {
    fill: #111113;
    z-index: 1;
    stroke-width: 4;
    stroke: rgb(255, 144, 80);
    animation: dash2 2s linear forwards;
    animation-iteration-count: infinite;
}

:host ::ng-deep .hidden {
    visibility: hidden;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash2 {
    from {
        stroke-dashoffset: 267.4265px;
        stroke-dasharray: 133.71325;
    }
    to {
        stroke-dashoffset: 0px;
        stroke-dasharray: 133.71325;
    }
}

:host ::ng-deep .pName {
    /* fill: #fff; */
    fill: rgb(200, 130, 90);
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px #222;
}

:host ::ng-deep .matchLabel {
    fill: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #222;
}

:host ::ng-deep .loserPlaceHolder {
    fill: rgb(201, 201, 201);
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-style: italic;
    text-shadow: 1px 1px 1px #222;
}

:host ::ng-deep .winner {
    fill: #daa520;
}

:host ::ng-deep .loser {
    fill: #b3b3b3;
}

:host ::ng-deep .matchLine {
    fill: none;
    stroke: rgb(0, 170, 200);
    /* stroke: rgb(200, 130, 90); */
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s linear forwards;
}

:host ::ng-deep #svgContainer {
    overflow: scroll;
    max-height: 80vh;
    // height: 80vh;
    cursor: grab;
    position: relative;
}

:host ::ng-deep .labelText {
    fill: white;
    font-family: "Ubuntu", sans-serif;
    text-shadow: 1px 1px 1px #222;
    font-size: 16px;
}

:host ::ng-deep .labelBox {
    fill: #111113;
    stroke: rgb(0, 170, 200);
    stroke-width: 2px;
}

:host ::ng-deep svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // min-width: 1985px;
}

:host ::ng-deep .round {
    height: 100%;
}

:host ::ng-deep .noAnim {
    animation: none !important;
    stroke-dashoffset: 0;
}

.matchInfo {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
     :first-child {
        float: left;
    }
     :last-child {
        float: right;
    }
    .userImg {
        border-radius: 15px;
        display: block;
        height: 64px;
        width: 64px;
        margin: 15px;
        border: 3px solid rgb(200, 130, 90);
    }
    .playerText {
        padding: 15px;
    }
    .playerName {
        font-family: "Leixo", "Courier New", Courier, monospace;
        color: #c8825a;
        &.winner {
            color: #daa520;
        }
        &.loser {
            color: #b3b3b3;
        }
        &:hover {
            text-decoration: underline;
        }
        text-decoration: none;
        // align-items: center;
        margin: 0px;
        font-size: 24px;
    }
    .participantFlag {
        position: relative;
        top: 4px;
    }
    .twitch {
        // width: 49%;
        padding-top: 56.25%;
        position: relative;
        margin: 0px;
        width: 100%;
        display: inline-block;
    }
}

:host ::ng-deep iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}