<div class="card-body">
    <h1>{{tournament.name}}</h1>
    <h3>Bracket</h3>
    <br>
    <div id="svgContainer">
        <svg id="bracket-svg" class="bracket-svg" width="1985" height="1042" viewBox="0 0 1985 1042"> </svg>

    </div>
</div>
<script>
    const slider = document.querySelector('#svgContainer');
    let isDown = false;
    let startX;
    let scrollLeft;
    let startY;
    let scrollDown;

    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        document.getElementById("bracket-svg").style.cursor = "grabbing";
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        startY = e.pageY - slider.offsetTop;
        scrollLeft = slider.scrollLeft;
        scrollDown = slider.scrollTop;
    });
    slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
        isDown = false;
        document.getElementById("bracket-svg").style.cursor = "grab";
        slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX); //scroll-fast
        const y = e.pageY - slider.offsetTop;
        const walk2 = (y - startY);
        slider.scrollLeft = scrollLeft - walk;
        slider.scrollTop = scrollDown - walk2;
        // console.log(walk);
    });
</script>