<h1>Match Info</h1>
<div class="matchInfo" *ngIf="data.p1.name != null">
    <div>
        <img class="userImg" src="https://new.scoresaber.com{{data.p1Avatar}}" style="float: left;">
        <p class="playerText" style="float: left;">
            <a routerLink="/user/{{data.p1.id}}" class="playerName" [ngClass]="{'winner' : (data.status == 'complete' && data.p1.score > data.p2.score), 'loser': (data.status == 'complete' && data.p1.score < data.p2.score)}" mat-dialog-close>{{data.p1.name || data.p1.id}} </a>
            <span class="playerName" [ngClass]="{'winner' : (data.status == 'complete' && data.p1.score > data.p2.score), 'loser': (data.status == 'complete' && data.p1.score < data.p2.score)}">&nbsp; [{{data.p1.score}}]</span>
            <br> <b>Global Rank:</b> {{data.p1Rank}}
            <br> <b>Seed:</b> {{data.p1Seed}}
            <br> <b>Country:</b> {{data.p1Country | uppercase}}
            <img class="participantFlag" src="\assets/flags/{{data.p1Country}}.png" alt="{{data.p1Country}} Flag" style="height: 20px;border: none;"><br>
        </p>
        <div class="twitch" id='P1twitch'></div>
    </div>
    <div>
        <img class="userImg" src="https://new.scoresaber.com{{data.p2Avatar}}" style="float: right;">
        <p class="playerText" style="float: right;text-align: right;">
            <a routerLink="/user/{{data.p2.id}}" class="playerName" style="float: right" [ngClass]="{'winner' : (data.status == 'complete' && data.p1.score < data.p2.score), 'loser': (data.status == 'complete' && data.p1.score > data.p2.score)}" mat-dialog-close> {{data.p2.name || data.p2.id}}</a>
            <span class="playerName" [ngClass]="{'winner' : (data.status == 'complete' && data.p1.score < data.p2.score), 'loser': (data.status == 'complete' && data.p1.score > data.p2.score)}">[{{data.p2.score}}] &nbsp;</span>
            <br> <b>Global Rank:</b> {{data.p2Rank}}
            <br> <b>Seed:</b> {{data.p2Seed}}
            <br> <b>Country:</b> {{data.p2Country | uppercase}}
            <img class="participantFlag" src="\assets/flags/{{data.p2Country}}.png" alt="{{data.p2Country}} Flag" style="height: 20px;border: none;"><br>
        </p>
        <div class="twitch" id='P2twitch'>
            <!-- <iframe frameborder="0" scrolling="no" [src]="sanitize('https://player.twitch.tv/?channel='+data.p2Twitch+'&autoplay=true')" height="100%" width="100%">
            </iframe> -->
        </div>
    </div>
</div>
<div class="matchInfo" *ngIf="data.p1.name == null && data.p1 != null">
    <div>
        <p class="playerText" style="float: left;">
            <span class="playerName" [ngClass]="{'winner' : (data.status == 'complete' && data.p1.score > data.p2.score), 'loser': (data.status == 'complete' && data.p1.score < data.p2.score)}">{{data.p1.id}} [{{data.p1.score}}] &nbsp;</span>
        </p>
    </div>
    <div>
        <p class="playerText" style="float: right;text-align: right;">
            <span class="playerName" [ngClass]="{'winner' : (data.status == 'complete' && data.p1.score < data.p2.score), 'loser': (data.status == 'complete' && data.p1.score > data.p2.score)}">{{data.p2.id}} [{{data.p2.score}}] &nbsp;</span>
        </p>
    </div>
</div>

<form [formGroup]="scoreForm" novalidate *ngIf="data.isAuth">
    <!-- Value: {{ signUpForm.value | json }} -->
    <br>
    <mat-form-field class="fill" style="width: 49%; float: left;">
        <mat-label *ngIf="data.p1.name || data.p1.id != null">{{data.p1.name || data.p1.id}}'s Score</mat-label>
        <mat-label *ngIf="data.p1 != null && data.p1.name || data.p1.id == null">{{data.p1}}'s Score</mat-label>
        <input matInput formControlName="p1Score" autocomplete="off">
    </mat-form-field>
    <!-- <br> -->
    <mat-form-field class="fill" style="width: 49%; float: right;">
        <mat-label *ngIf="data.p2.name || data.p2.id != null">{{data.p2.name || data.p2.id}}'s Score</mat-label>
        <mat-label *ngIf="data.p2 != null && data.p2.name || data.p2.id == null">{{data.p2}}'s Score</mat-label>
        <input matInput formControlName="p2Score" autocomplete="off">
    </mat-form-field>
    <br>
    <div mat-dialog-actions style="display: block;">
        <!-- <button mat-raised-button color="warn" mat-dialog-close>Close</button> -->
        <button mat-raised-button color="primary" type="submit" [disabled]="scoreForm.invalid" (click)="onSubmit('update')">Update Match</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="scoreForm.invalid" (click)="onSubmit('complete')">Complete Match</button>
    </div>
    <br>
</form>
<br>
<button mat-stroked-button color="primary" type="submit" (click)="theatre()">{{theatreBtn}}</button> &nbsp; <button mat-raised-button color="warn" mat-dialog-close>Close</button>