<div *ngIf="!user else loaded">
    <img src="/assets/svg/BeatKhana Logo RGB animated.svg" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;">
</div>

<ng-template #loaded>
    <div class="container">
        <div class="card noHover">
            <div class="card-body">
                <img class="profileImg" src="https://new.scoresaber.com{{ user.avatar }}" />
                <h1>
                    {{ user.name }}
                    <img class="countryImg" src="\assets/flags/{{user.country | uppercase}}.png" alt="">
                </h1>
                <p class="card-text" *ngIf="user.roleNames.length > 0">
                    <b>Roles:</b> {{user.roleNames.join(', ')}}
                </p>
                <p class="card-text">
                    <b>Global Rank:</b> #{{user.globalRank}} <br>
                    <b>Regional Rank:</b> #{{user.localRank}} <br>
                    <b>Tournament Rank:</b> #{{user.tourneyRank}} <br>
                    <a href="https://scoresaber.com/u/{{user.ssId}}" target="_blank">Scoresaber</a> <br>
                    <a href="https://twitch.tv/{{user.twitchName}}" target="_blank">Twitch</a>
                </p>
                <ng-container *ngIf="user['roleIds'].includes('1') || user['roleIds'].includes('2')">
                    <br>
                    <h4>Staff:</h4>
                    <p class="card-text">
                        <a [routerLink]="['/users']">All Users</a>
                    </p>
                </ng-container>

            </div>
        </div>
    </div>
</ng-template>