.card-body {
    padding: 1.25rem;
}

.profileImg {
    max-width: 33%;
    float: right;
    margin: 5px;
}

.countryImg {
    display: inline-block;
    border: none;
    vertical-align: bottom;
}

h1 {
    // width: 2%;
    display: inline-block;
}

.pronounRadio,
.roles {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .radio-button {
        margin: 5px;
    }
}