// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-bkBlue, A100);
$app-accent: mat-palette($mat-bkGold, A100);
// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red, 900);
// Create the theme object (a Sass map containing all of the palettes).
// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
}

@font-face {
  font-family: "Leixo";
  src: url("/assets/fonts/LEIXO-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "TomatoRound";
  src: url("/assets/fonts/TomatoRoundCondensed.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "cuyabra";
  src: url("/assets/fonts/cuyabra.otf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

// .icon2 {
//     display: inline-block;
//     font-style: normal;
//     font-variant: normal;
//     text-rendering: auto;
//     line-height: 1;
//     font-weight: 400;
//     fill: #ffffff;
//     height: 32px;
//     // &.discord {
//     //     background: url("/assets/icons/discord.svg") no-repeat top left;
//     //     background-size: contain;
//     //     &::before {
//     //         content: url("/assets/icons/discord.svg");
//     //     }
//     // }
// }
.radio {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  .radio-button {
    margin: 5px;
  }
}
nav {
  // height: 80px;
  width: 100%;
  color: white;
  background: #202124;
  border-bottom: 1px solid rgb(200, 130, 90);
  margin-bottom: 40px;
  .container {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    padding: 15px;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  list-style-type: none;
  .nav-item {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Leixo", "Courier New", Courier, monospace;
    &.active {
      background-color: #2a2a2a;
      color: #fff;
    }
    &:hover:not(.noHover) {
      background-color: #2a2a2a;
      color: rgba(255, 255, 255, 0.75);
    }
  }
  .fab {
    font-size: 26px;
  }
}

.navbar-nav.mobile {
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  li:not(.dropdown-item) {
    margin-top: 13px;
    margin-left: -25px;
    width: 100%;
    display: inline-block;
  }
  .nav-item {
    width: 100%;
    display: inline-block;
    padding: 10px 10px;
  }
}

.mobile-nav-content {
  grid-column: span 3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms;
  &.mobile-show {
    max-height: 100vh;
    overflow: auto;
  }
}

.icon {
  color: rgba(255, 255, 255, 0.5);
  font-size: larger;
  &:hover {
    color: white;
  }
  &:last-child {
    margin-right: 10px;
  }
}

.dropdown {
  position: absolute;
  width: 150px;
  display: none;
  opacity: 0;
  left: 0;
  transform: translateY(10px);
  z-index: 2;
  background-color: #161616;
  // display: flex;
  padding: 10px 0;
  align-items: left;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  border-radius: 5px;
  transition: opacity 0.5s ease-out;
  .dropdown-item {
    padding: 10px 15px;
    a {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      background-color: #2a2a2a;
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.dropdown-toggle {
  display: inline-block;
  width: 50px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  &::after {
    color: rgba(255, 255, 255, 0.5);
    transform: translate(0, -10px);
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transition: 50ms;
  }
}

.has-dropdown,
.hover-dropdown {
  i {
    &::after {
      color: rgba(255, 255, 255, 0.5);
      // transform: translate(0, -10px);
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      transition: 50ms;
    }
  }
}

.has-dropdown:focus-within {
  .dropdown {
    left: unset;
    display: flex;
    opacity: 1;
    animation: fadeInFromNone 0.25s ease-out;
  }
  .dropdown-toggle::after {
    transform: translate(0, -5px);
  }
}

.hover-dropdown:hover {
  position: relative;
  overflow: unset;
  .dropdown {
    display: flex;
    opacity: 1;
    animation: fadeInFromNone 0.25s ease-out;
  }
  i::after {
    transform: translate(0, 5px);
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

.userImg {
  height: 36px;
  width: auto;
  border-radius: 50%;
}

.ExpertP {
  color: #8f48db;
}

.Expert {
  color: #bf2a42;
}

.Hard {
  color: #ff6347;
}

.Normal {
  color: #59b0f4;
}

.Easy {
  color: #3cb371;
}

table,
.mat-paginator {
  width: 100%;
  background: transparent !important;
}

// nav {
//     background-color: #202124;
//     padding: 15px 15px;
//     font-family: 'Leixo';
//     font-weight: 700;
//     border-bottom: 1px solid rgb(200, 130, 90);
//     margin-bottom: 40px;
// }
// .navContainer {
//     display: block;
//     width: 80vw;
//     margin: auto;
// }
// .banner {
//     margin-right: 30px;
// }
// nav div {
//     display: inline-block;
// }
// nav ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }
// nav ul li {
//     float: left;
//     height: 50px;
//     margin: auto 0px;
// }
// .navLink {
//     color: rgba(255, 255, 255, .5);
//     height: 20px;
//     padding: 15px 15px;
//     font-weight: normal;
//     width: auto;
//     display: inline-block;
//     text-align: center;
//     vertical-align: middle;
//     text-decoration: none;
//     transition: all 400ms;
// }
// .nav-link {
//     padding: 0.5rem 0.5rem 0.25rem 0.5rem !important;
//     display: inline-block !important;
//     width: auto !important;
// }
// .active.navLink {
//     background-color: #2a2a2a;
//     color: #fff;
// }
// .navLink:hover {
//     background-color: #2a2a2a;
//     color: rgba(255, 255, 255, .75);
// }
// .navLink.noHover:hover {
//     color: rgba(255, 255, 255, .5);
//     background-color: #202124;
// }
.icon svg {
  fill: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  transition: fill 400ms;
}

.icon:hover svg {
  fill: rgba(255, 255, 255, 0.75);
}

html,
body {
  background-color: #0a0a0a;
  background-size: cover;
}

/* Main stuff */

.container {
  margin: auto;
}

// nav .container {
//     width: 100%;
//     display: block;
// }
.grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  --stagger-delay: 70ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: #202124;
  font-size: 2rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 95%;
  border-radius: 4px;
  transition: all 150ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: cardEntrance 250ms ease-out;
  animation-fill-mode: backwards;
  margin: auto;
}

.card-body {
  padding: 1.25rem;
}

// Mat styles
.mat-dialog-container {
  background: #202124;
  width: 80%;
}

.mat-form-field {
  width: 100%;
}

.card img {
  border: 2px solid rgb(200, 130, 90);
}

.card-img-top {
  width: 99%;
  /* border: 2px solid rgb(200, 130, 90); */
  margin-bottom: 15px;
}

.card-title {
  font-family: "TomatoRound", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 10px;
  color: #fff;
}

.card a {
  text-decoration: none;
}

.card-text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-weight: 500;
  font-size: 1rem;
  color: #fff;
  padding: 10px;
}

.card-text a {
  color: rgb(0, 170, 200);
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: rgb(0, 120, 141);
  }
}

.card:not(.noHover):hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: scale(1.03);
}

.matchPanel {
  transition: all 0.3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "TomatoRound", Arial, Helvetica, sans-serif !important;
  font-weight: 500 !important;
}

.card-title {
  font-size: 0.83em !important;
  line-height: 0.9em;
}

// .mat-button-base {
//     margin: 5px 0px !important;
// }

/* media queries */

.nav-main {
  display: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
  .nav-main {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 756px;
  }
  .nav-main {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
  .nav-main {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .nav-main {
    display: none;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1202px;
  }
  .nav-mobile {
    display: none;
  }
  .nav-main {
    display: block;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1392px;
  }
  .nav-mobile {
    display: none;
  }
  .nav-main {
    display: block;
  }
}

footer {
  padding: 3rem 1.5rem 6rem;
}

footer p {
  text-align: center;
  color: white;
  font-family: "Leixo", "Courier New", Courier, monospace;
}

footer a {
  font-size: 32px;
  padding: 5px;
  color: white !important;
}

// Burger menu
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  scale: 0.8;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
