p.card-text {
    height: auto;
}

.playerName {
    font-family: "Leixo", "Courier New", Courier, monospace;
    >a {
        color: #c8825a;
        &:hover {
            text-decoration: underline;
        }
    }
    color: #c8825a;
    align-items: center;
    // justify-content: center;
    margin: 0px;
    vertical-align: text-bottom;
}

.participantFlag {
    position: relative;
    top: 4px;
}

.playerPanel {
    border: 1px solid #c8825a;
    background-color: #111113;
}

.cutoff {
    border: 4px dashed #848484;
    box-sizing: border-box;
    height: 4px;
}

.playerSumary {
    justify-content: flex-end;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7) !important;
}

.participantImg {
    border-radius: 15px;
    display: block;
    height: 48px;
    width: 48px;
    margin: 5px 0;
    float: left;
    margin: 15px 15px 15px 0px;
    // height: 100%;
}

.participantImgSmall {
    border-radius: 50%;
    // display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 10px;
    // margin: 15px 15px 15px 0px;
    // height: 100%;
}

.card-text {
    padding: 0px;
}

.mapperName {
    font-size: smaller;
    color: #c8825a;
}

.mat-expansion-panel-header[aria-disabled="true"] {
    color: #c8825a;
}

@media (max-width: 768px) {
    .playerSumary,
    .playerName,
    .card-text {
        font-size: 0.7rem;
    }
    .playerSumary {
        margin-right: 0px;
    }
    .mat-expansion-panel-header {
        padding-right: 10px;
    }
    .rawScore {
        display: none;
    }
    .mapperName {
        display: none;
    }
    .playerName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}