.songImg {
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin: 10px;
}

.mapperName {
    font-size: smaller;
    color: #c8825a;
}

table {
    width: 100%;
    background: transparent !important;
}

.beatsaver_icon {
    background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200' version='1.1'%3E%3Cg fill='none' stroke='%2300aac8' stroke-width='10'%3E %3Cpath d='M 100,7 189,47 100,87 12,47 Z' stroke-linejoin='round'/%3E %3Cpath d='M 189,47 189,155 100,196 12,155 12,47' stroke-linejoin='round'/%3E %3Cpath d='M 100,87 100,196' stroke-linejoin='round'/%3E %3Cpath d='M 26,77 85,106 53,130 Z' stroke-linejoin='round'/%3E %3C/g%3E %3C/svg%3E") no-repeat center/85%;
    height: 30px;
    width: 30px;
    display: inline-block;
    color: #00aac8;
}

:host ::ng-deep .mat-tab-labels {
    flex-wrap: wrap;
}

:host ::ng-deep .mat-tab-label {
    margin: 5px;
    padding: 0px;
    .labelText {
        // margin: 5px;
        padding: 5px 7px;
    }
    border-radius: 10px;
    border: 1px rgba(255,
    255,
    255,
    0.7) solid;
    height: auto;
    min-width: 0px;
}

:host ::ng-deep .mat-ink-bar {
    display: none;
}

:host ::ng-deep .mat-tab-label[aria-selected="true"] {
    border-color: #00aac8;
}

.labelImage {
    width: 36px;
    height: 36px;
    border: none;
    // margin-left: 5px;
    border-radius: 10px;
}