<div class="container">
    <div class="card noHover">
        <div class="card-body">
            <h1 style="text-align: center;"><i class='fas fa-angle-left' (click)="changeDate(-1)"></i> {{curMonth}} <i class='fas fa-angle-right' (click)="changeDate(1)"></i></h1>
            <div class="calendar">
                <div class="headers">
                    <span>Sunday</span>
                    <span>Monday</span>
                    <span>Tuesday</span>
                    <span>Wednesday</span>
                    <span>Thursday</span>
                    <span>Friday</span>
                    <span>Saturday</span>
                </div>
                <div class="dates">
                    <div *ngFor="let date of dates" class="date">
                        <span *ngIf="date.date != 0" class="dateNum">{{date.date}}</span>
                        <span *ngIf="date.event">{{date.event}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>